{% extends "index.html" %}
{% block content %}
<main id="main" class="billboard shell">
  <div class="intro"><span class="eyebrow">Building 20 Ventures</span><h1>Room for<br><em>possibility.</em></h1></div>
  <figure class="banner">
    <img src="{{ get_url(path='art/Serendipity_turning-points-serendipity.webp') }}" alt="Architectural illustration of MIT’s Building 20" width="1800" height="1080" fetchpriority="high">
    <figcaption><span>Building 20 · MIT</span><span>Image credit: <a href="https://mitmuseum.mit.edu/">MIT Museum</a></span></figcaption>
  </figure>
</main>
{% endblock content %}
